/* portfolio_main.css */

#wrap {width: 100%; min-height: 600px;}

#headBox {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 10px 12px 14px 12px;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
}
.headinner {
  width: 100%; min-width: 1256px;
  height: 100%;
  display: flex;
  margin: auto; 
  box-sizing: border-box;
}
.headinner h1 {
  width: 100%; min-width: 750px; 
  height: 100%;
  margin: auto;
}
.headinner h1 img {
  width: 750px;
  height: 100%;
  margin-top: 12px;
}
.unb {
  display: flex;
  float: right;
  width: 500px; 
  height: 100%;
  text-transform: uppercase;
  text-align: center;
}
.unb span {}
.portfolio_part {
  width: 120px;
  height: 100%;
  font-size: 18px;
  line-height: 56px;
}
.portfolio_part a {
  display: block;
  width: auto;
  height: 100%;
  text-decoration: none;
}
.about_part {
  width: 90px;
  height: 100%;
  font-size: 18px;
  line-height: 56px;
}
.about_part a {
  display: block;
  width: auto;
  height: 100%;
  text-decoration: none;
}
.skills_part {
  width: 90px;
  height: 100%;
  font-size: 18px;
  line-height: 56px;
}
.skills_part a {
  display: block;
  width: auto;
  height: 100%;
  text-decoration: none;
}
.project_part {
  width: 100px;
  height: 100%;
  font-size: 18px;
  line-height: 56px;
}
.project_part a {
  display: block;
  width: auto;
  height: 100%;
  text-decoration: none;
}
.contact_part {
  width: 100px;
  height: 100%;
  font-size: 18px;
  line-height: 56px;
}
.contact_part a {
  display: block;
  width: auto;
  height: 100%;
  text-decoration: none;
}

#portfolio {}
.portfolio_title {
  padding-top: 80px;
}
.portfolio_title img {
  width: 100%;
}

#about {
  width: 1200px;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
}
.about_title {
  display: none;
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about_inner {
  display: flex;
  width: 1180px;
  height: auto;
  margin: auto;
}
.proflie_part {
  width: auto;
  margin: auto;
  /* padding-left: 80px; */
}
.about_logo {
  width: 100%;
  float: left;
}
.about_logo img {
  width: 300px;
  height: auto;
}
.about_text {
  width: auto;
  height: auto;
  margin: auto;
}
.about_text span {
  width: auto; height: auto;
  font-size: 19px;
  font-weight: 500;
  margin: auto;
}
.about_text p {
  width: auto; height: auto;
  font-size: 17px;
}
.sub_title {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.about_text ul {}
.about_text ul li {
  font-size: 16px;
}
.introduction_part {
  width: 50%;
  padding-top: 100px;
}
.introduction_part span {
  font-size: 16px;
}

#skills {
  text-transform: uppercase;
  list-style: none;
}
#skills h2 {
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
}
.skills_inner h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 5px;
}
.skills_inner {
  width: 500px;
  margin: 60px auto;
  color: #000;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skills_inner li {
  margin: 20px 0;
  padding: 10px;
}
.bar {
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgba(0, 169, 157, 1)0%, rgb(169, 214, 214)100%);
}
.html {
  width: 90%;
  animation: html 3s;
}
.css {
  width: 90%;
  animation: css 3s;
}
.javascript {
  width: 60%;
  animation: javascript 3s;
}
.figma {
  width: 90%;
  animation: figma 3s;
}
.git {
  width: 70%;
  animation: git 3s;
}
@keyframes html {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes css {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes javascript {
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
@keyframes figma {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes git {
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

#project {}
.project_title {
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
}

#contact {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 169, 157, 0.3);
}
.contact_title {
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.contact_inner {
  width: auto;
  margin: auto;
  text-align: center;
}
.contact_text ul {
  margin-bottom: 50px;
}
.contact_text ul li {
  font-size: 18px;
}
.contect_info {
  display: flex;
  width: 735px;
  margin: auto;
}
.contect_info dl {
  text-align: center;
  width: 245px;
}
.contect_info dl dt {
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
}
.contect_info dd {
  font-size: 18px;
}
#footBox {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: rgba(0, 169, 157, 0.3);
}
.foot_inner {
  width: auto;
  height: auto;
  position: relative;
}
.foot_inner p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}