/* 320px =========================== */
@media all and (max-width: 767px) {
  #wrap {width: 100%; min-height: 600px;}

  /* #headBox ========================== */
  #headBox {
    width: 100%; min-width: 320px;
    height: 60px;
    padding: 10px;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fff;
  }
  .headinner {
    width: 100%; min-width: 300px;
    height: 100%;
    margin: auto; 
    display: flex;
    box-sizing: border-box;
  }
  /* logo part */
  .headinner h1 {
    width: 100%; min-width: 256px;
    height: 100%;
    margin: auto;
  }
  .headinner h1 a {
    width: 50px;
    height: 50px;
  }
  .headinner h1 button {
    width: 50px;
    height: 50px;
    background-image: url(../../img/logo_greenfull.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    -webkit-animation: rotation 5s infinite linear;
  }
  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
  }
  .unb {display: none;}

  /* moblie slide part --------------------- */
  .header_m {
    width: 14.666%; min-width: 44px; 
    height: 26px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
  }
  #unbInner {
    width: 13.75%; min-width: 44px;
    padding: 0;
  }  
  /* slide menu button */
  #check_box {display: none;}
  #check_box + label {
    width: 11.875%; min-width: 38px;
    height: 20px;
    margin: auto;
    display: block;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  #check_box + label > span {
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    transition: all 300ms;
    border-radius: 5px;
    background: black;
  }
  #check_box:checked + label > span:nth-child(1) {
    top: 50%;
    /* transform: translate(0, -50%); */
    transform: rotate(45deg);
  }
  #check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }
  #check_box:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  #check_box + label > span:nth-child(3) {
    bottom: 0;
  }
  #check_box:checked + label > span:nth-child(3) {
    top: 50%;
    /* transform: translate(0, -50%); */
    transform: rotate(-45deg);
  }
  #check_box:checked + label + #slide_menu {
    left: 40px;
  }
  
  /* #slide_menu ------------------------------ */
  #slide_menu {
    width: 100%; min-width: 280px;
    height: 100%;
    padding: 50px 16px 70px 16px;
    margin-bottom: 50px;
    position: fixed;
    top: 0px;
    left: 100%;
    box-sizing: border-box;
    overflow: auto;
    transition: all 300ms;
    text-transform: uppercase;
    z-index: 1;
    background-color: rgba(75, 117, 103, 90%);
  }
  input[id*="slide_btn"] {display: none;}
  input[id*="slide_btn"] + label {
    width: auto;
    display: block;
    padding: 30px;
    position: relative;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }

  /* portfolio cover --------------- */
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cover {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .year {
    width: 50px;
    height: 100px;
    margin-bottom: 0px;
  }
  .year img {
    width: 100%;
    height: auto;
    margin: 35px;
  }
  .title_logo {
    width: 120px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
  }
  .title_logo img {
    width: 100%;
    margin: auto;
  }
  .job {
    width: 100px;
    height: 90px;
  }
  .job img {
    width: 100%;
    height: auto;
    margin: 35px;
  }

  /* about part ---------------------------- */
  .about {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    opacity: 0;
    transition: all 3s;
  }
  .about_inner {
    width: 87.5%; min-width: 280px;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .proflie_part {
    width: 100%;
    margin: auto;
  }
  /* about title */
  .about_logo {
    width: 31.25%; min-width: 100px;
    margin: auto;
    margin-bottom: 30px;
  }
  .about_logo img {
    width: 100%;
    height: auto;
  }
  /* profile */
  .about_text {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .about_text span {
    width: auto; 
    height: auto;
    margin: auto;
    font-size: 16px;
    font-weight: 600;
  }
  .about_text p {
    width: auto; 
    height: auto;
    font-size: 16px;
  }
  .sub_title {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  .about_text ul {
    width: 100%;
    height: auto;
  }
  .about_text ul li {
    font-size: 14px;
  }
  /* main introduce */
  .introduction_part {
    width: 100%;
    padding-top: 10px;
    line-height: 18px;
  }
  .introduction_part p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .introduction_part span {
    font-size: 13px;
  }
  
  /* skills part --------------------- */
  .skills {
    opacity: 0;
    transition: all 3s;
    list-style: none;
    text-transform: uppercase;
  }
  /* skills title */
  .skills_logo {
    width: 31.25%; min-width: 100px;
    height: auto;
    margin: auto;
  }
  .skills_logo img {
    width: 100%;
    margin: auto;
  }
  .skills_inner h3 {
    margin: 5px;
    font-size: 16px;
    font-weight: 400;
  }
  /* skills inner */
  .skills_inner {
    width: 81.25%; min-width: 260px;
    margin: auto;
    margin-top: 30px;
    padding: 10px 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #000;
  }
  .skills_inner ul {
    width: auto;
    height: auto;
  } 
  .skills_inner li {
    margin: 20px 0;
  }
  .bar {
    height: 16px;
    display: block;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #353b48;
  }
  .bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .bar span {
    height: 16px;
    float: left;
    background: linear-gradient(135deg, rgba(75, 117, 103, 1)0%, rgb(172, 213, 199)100%);
  }
  .html {
    width: 90%;
    animation: html 10s;
  }
  .css {
    width: 90%;
    animation: css 10s;
  }
  .javascript {
    width: 60%;
    animation: javascript 10s;
  }
  .git {
    width: 70%;
    animation: git 10s;
  }
  .react {
    width: 30%;
    animation: react 10s;
  }
  @keyframes html {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes css {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes javascript {
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  }
  @keyframes git {
    0%{
      width: 0%;
    }
    100%{
      width: 70%;
    }
  }
  @keyframes react {
    0%{
      width: 0%;
    }
    100%{
      width: 30%;
    }
  }

  /* project part ------------------------ */
  .project {
    width: 100%; min-width: 320px; max-width: 767px;
    margin: 0 auto;
    opacity: 0;
    transition: all 3s;
  }
  /* project title */
  .project_logo {
    width: 31.25%; min-width: 100px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }
  .project_logo img {
    width: 100%;
    height: auto;
  }
  .project_inner {
    width: 100%; min-width: 300px;
    height: auto;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
  }
  .project_item {
    width: 100%;
  }
  .project_item li {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .project_item li a {
    width: 61.5%; min-width: 200px;
    height: auto;
    margin: auto;
    display: block;
    position: relative;
    text-decoration: none;
  }
  .project_list input {display: none;}
  .project_list input [id="slide"] {display: none;}
  .project_item label {
    padding: 20px;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
  }
  /* slide arrow */
  .slide_left {
    top: 45%;
    left: 8px;
    background-image: url('../../img/arrow_left.png');
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
  }
  .slide_right {
    top: 45%;
    right: 8px;
    background-image: url('../../img/arrow_right.png');
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
  }
  #fp-nav {display: none;}
  .project_list [id="slide01"]:checked ~ .project_inner .project_item li {transform: translateX(0);}
  .project_list [id="slide02"]:checked ~ .project_inner .project_item li {transform: translateX(-101.6%);}
  .project_list [id="slide03"]:checked ~ .project_inner .project_item li {transform: translateX(-203.2%);}
  
  .screen:hover .screen_top {
    bottom: 52%;
  }
  .screen:hover .screen_bottom {
    top: 52%;
  }
  .screen {
    width: 62.5%; min-width: 200px;
    height: auto;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  .screen_top {display: none;}
  .screen_middle {display: none;}
  .screen_bottom {display: none;}
  .screen img {
    width: 100%;
  }
  .screen:hover::after {display: none;}
  /* project 자세히 보기 */
  .project_contact {
    width: 57.25%; min-width: 180px;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    text-align: center;
  }
  .btn {
    width: 48.3333%; min-width: 87px;
    height: 35px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border-radius: 7px;
    background-color: rgba(75, 117, 103, 0.3);
  }
  .web_btn {
    width: 48.3333%; min-width: 87px;
    height: 35px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border-radius: 7px;
    background-color: rgba(75, 117, 103, 0.3);
  }

  /* modal ====================================== */
  .modal {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 1000;
  }
  .modal > div {
    color: #fff;
    height: auto;
  }
  .modal_content > iframe {
    width: 100%;
    height: auto;
    min-height: 318px;
    background: #fff;
    transform: translate(0);
  }
  /* Modal Content/Box */
  .modal_content {
    width: 90%; /* Could be more or less, depending on screen size */
    margin: auto; /* 15% from the top and centered */
    top: 0px;
    position: relative;
  }
  .modal_img {
    width: 100%;
  } 
  /* The Close Button */
  .close {
    width: 25px;
    height: 25px;
    float: left;
    top: 10px;
    right: 8px;
    position: absolute;
    z-index: 2;
  }
  .close img {
    width: 100%;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* clone coding part --------------------------- */
  .clone {
    width: 100%; min-width: 320px; max-width: 767px;
    margin: 0 auto;
    opacity: 0;
    transition: all 3s;
  }
  /* clone coding title */
  .clone_logo {
    width: 31.25%; min-width: 100px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }
  .clone_logo img {
    width: 100%;
    height: auto;
  }
  .clone_inner {
    width: 300px;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  /* clone coding top */
  .clone_top {
    width: 100%;
    height: 100px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  /* coupang */
  .clone_coupang {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_couoang.png) no-repeat;
    background-size: 100%;
  }
  .clone_coupang a {
    width: auto;
    height: 100px;
    display: block;
    text-decoration: none;
  }
  /* naver */
  .clone_naver {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_naver.png) no-repeat;
    background-size: 100%;
  }
  .clone_naver a {
    width: auto;
    height: 100px;
    display: block;
    text-decoration: none;
  }
  /* clone coding bottom */
  .clone_bottom {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  /* google */
  .clone_google {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_google.png) no-repeat;
    background-size: 100%;
  }
  .clone_google a {
    width: auto;
    height: 100px;
    display: block;
    text-decoration: none;
  }
  /* sfotify */
  .clone_sfotify {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_spotify.png) no-repeat;
    background-size: 100%;
  }
  .clone_sfotify a {
    width: auto;
    height: 100px;
    display: block;
    text-decoration: none;
  }

  /* clone coding screen */
  .clone_screen:hover .screen_inner {
    bottom: 23%;
  }
  .clone_screen {
    width: auto;
    height: 100px;
    position: relative;
    overflow: hidden;
  }
  .screen_inner {
    width: 100%;
    position: absolute;
    bottom: 150%;
    transition: all.35s;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    z-index: 2;
  }
  .clone_screen:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all.35s;
    z-index: 1;
    background: rgba(75, 117, 103, 0.8);
  }
  .clone_inner ul li a:hover .screen::after {
    opacity: 1;
  }

  /* contact part -------------------------------- */
  .contact {
    width: 100%; min-width: 320px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 70px;
    opacity: 0;
    transition: all 3s;
    background-color: rgba(75, 117, 103, 30%);
  }
  /* contact title */
  .contact_logo {
    width: 31.25%; min-width: 100px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }
  .contact_logo img {
    width: 100%;
    height: auto;
  }
  .contact_inner {
    width: auto;
    margin: auto;
    text-align: center;
  }
  .contact_text ul {
    margin-bottom: 40px;
    line-height: 30px;
  }
  .contact_text ul li {
    font-size: 14px;
  }
  /* contact address */
  .contect_info {
    width: 93.75%; min-width: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .contect_info address {
    width: 100%; min-width: 300px;
    text-align: center;
  }
  .contect_info span {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .contect_info a {
    font-size: 14px;
  }
  /* copy right */
  .copyBox {
    width: 100%; min-width: 320px;
    height: 60px;
    line-height: 60px;
  }
  .copy_inner {
    width: auto;
    height: auto;
    position: relative;
  }
  .copy_inner p {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #444;
  }

  /* #footBox ======================= */
  #footBox {
    display: none;
    width: 100%; min-width: 320px;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0%;
    z-index: 1000;
  }
  .fnb {
    width: 100%;
    height: 70px;
    line-height: 50px;
    display: flex;
    background-color: rgba(75, 117, 103, 96%);
  }
  /* portfolio part fnb button */
  .fnb_portfolio {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/logo_whitefull.svg) no-repeat center;
    background-size: 35px;
  }
  .fnb_portfolio a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 0;
  }
  .fnb_portfolio:hover {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/logo_blackfull.svg) no-repeat center;
    background-size: 35px;
  }
  /* about part fnb button */
  .fnb_about {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/about.svg) no-repeat center;
    background-size: 35px;
  }
  .fnb_about a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 16.667%;
  }
  .fnb_about:hover {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/about_on.svg) no-repeat center;
    background-size: 35px;
  }
  /* skills part fnb button */
  .fnb_skills {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/skill.svg) no-repeat center;
    background-size: 35px;
  }
  .fnb_skills a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 33.334%;
  }
  .fnb_skills:hover {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/skill_on.svg) no-repeat center;
    background-size: 35px;
  }
  /* project part fnb button */
  .fnb_project {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/portfolio.svg) no-repeat center;
    background-size: 35px;
  }
  .fnb_project a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 50.001%;
  }
  .fnb_project:hover {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/portfoilo_on.svg) no-repeat center;
    background-size: 35px;
  }
  /* clone part fnb button */
  .fnb_clone {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/clone.svg) no-repeat center;
    background-size: 35px;
  }
  .fnb_clone a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 66.668%;
  }
  .fnb_clone:hover {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/clone_on.svg) no-repeat center;
    background-size: 35px;
  }
  /* contact part fnb button */
  .fnb_contact {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/contact.svg) no-repeat center;
    background-size: 35px;
  }
  .fnb_contact a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 83.335%;
  }
  .fnb_contact:hover {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/contact_on.svg) no-repeat center;
    background-size: 35px;
  }
}
