/* 320px =========================== */
@media all and (max-width: 767px) {
  #wrap {width: 100%; min-height: 600px;}

  /* #headBox ========================== */
  #headBox {
    width: 100%; min-width: 320px;
    height: 50px;
    padding: 5px 10px;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fff;
  }
  .headinner {
    width: 100%; min-width: 300px;
    height: 100%;
    margin: auto;
    display: flex;
    box-sizing: border-box;
  }
  /* logo part */
  .headinner h1 {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .headinner h1 button {
    width: 40px;
    height: 40px;
    background-image: url(../../img/new_logo.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-animation: rotation 5s infinite linear;
  }
  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
  }
  .unb {display: none;}

  /* moblie slide part --------------------- */
  .header_m {
    width: auto;
    height: auto;
    margin: auto;
    box-sizing: border-box;
  }
  #unbInner {
    width: 44px;
    height: auto;
    padding: 0;
  }  
  /* slide menu button */
  #check_box {display: none;}
  #check_box + label {
    width: 24px;
    height: 17px;
    margin: auto;
    display: block;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  #check_box + label > span {
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    transition: all 300ms;
    border-radius: 5px;
    background: black;
  }
  #check_box:checked + label > span:nth-child(1) {
    top: 50%;
    /* transform: translate(0, -50%); */
    transform: rotate(45deg);
  }
  #check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }
  #check_box:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  #check_box + label > span:nth-child(3) {
    bottom: 0;
  }
  #check_box:checked + label > span:nth-child(3) {
    top: 50%;
    /* transform: translate(0, -50%); */
    transform: rotate(-45deg);
  }
  #check_box:checked + label + #slide_menu {
    left: 40px;
  }
  
  /* #slide_menu ------------------------------ */
  #slide_menu {
    width: 100%;
    height: 100%;
    padding: 50px 16px 70px 16px;
    margin-bottom: 50px;
    position: fixed;
    top: 0px;
    left: 100%;
    box-sizing: border-box;
    overflow: auto;
    transition: all 300ms;
    text-transform: uppercase;
    z-index: 1;
    background-color: rgba(86, 98, 112, 90%);
  }
  input[id*="slide_btn"] {display: none;}
  input[id*="slide_btn"] + label {
    width: auto;
    display: block;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid #fff;
    font-size: 0.656rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }

  /* all scroll animation */
  .scrolling {
    opacity: 0;
    transition: all .8s steps(10);
  }
  
  html #wrap {
    overflow: auto;
    height: 100%;
  }

  /* portfolio cover --------------- */
  #portfolio {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  #portfolio img {
    width: 100%;
    height: 100%;
  }
  .cover_text {
    width: auto;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #222;
  }
  .cover_text p {
    text-align: left;
    font-size: 0.75rem;
    font-weight: 400;
  }
  .cover_text span {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .content_wrap {
    padding-top: 100vh;
  }

  /* about part ---------------------------- */
  #about {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #fafafa;
  }
  .about_inner {
    width: 87.5%; min-width: 280px;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .proflie_part {
    width: 100%;
    margin: auto;
  }
  /* about title */
  .about_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 70px 0 20px 0;
    margin-bottom: 20px;
  }
  .about_logo h3 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.469rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    text-shadow: 10px 5px 8px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  /* profile */
  .about_text {
    width: auto;
    height: auto;
    margin: auto;
  }
  .about_text span {
    margin: auto;
    font-size: 0.844rem;
    font-weight: 800;
  }
  .about_text p {
    width: auto; 
    height: auto;
    font-size: 0.656rem;
    font-weight: 500;
  }
  .sub_title {
    margin-top: 10px;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }
  .about_text ul {
    width: 100%;
    height: auto;
  }
  .about_text ul li {
    text-transform: uppercase;
    font-size: 0.594rem;
    font-weight: 500;
    line-height: 24px;
  }
  /* main introduce */
  .introduction_part {display: none;}
  .introduction_m {
    width: 100%;
    padding-top: 30px;
    line-height: 18px;
  }
  .introduction_m p {
    margin-bottom: 5px;
    line-height: 26px;
    font-size: 0.656rem;
    font-weight: 700;
  }
  .introduction_m span {
    line-height: 22px;
    font-size: 0.625rem;
    font-weight: 400;
  }
  
  /* skills part --------------------- */
  #skills {
    width: auto;
    height: auto;
    padding-bottom: 60px;
    list-style: none;
    background-color: #fafafa;
  }
  /* skills title */
  .skills_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 70px 0 20px 0;
  }
  .skills_logo h3 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.469rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    text-shadow: 10px 5px 8px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  .skills_inner h4 {
    margin: 5px;
    font-size: 0.719rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  /* skills inner */
  .skills_inner {
    width: 81.25%; min-width: 260px;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #000;
  }
  .skills_inner ul {
    width: auto;
    height: auto;
  } 
  .skills_inner li {
    margin: 20px 0;
  }
  .bar {
    height: 16px;
    display: block;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #353b48;
  }
  .bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .bar span {
    height: 16px;
    float: left;
    background: linear-gradient(135deg, rgba(86, 98, 112, 100), rgb(171, 173, 176)100%);
  }
  .html {
    width: 90%;
    animation: html 10s;
  }
  .css {
    width: 90%;
    animation: css 10s;
  }
  .javascript {
    width: 60%;
    animation: javascript 10s;
  }
  .git {
    width: 70%;
    animation: git 10s;
  }
  .react {
    width: 30%;
    animation: react 10s;
  }
  @keyframes html {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes css {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes javascript {
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  }
  @keyframes git {
    0%{
      width: 0%;
    }
    100%{
      width: 70%;
    }
  }
  @keyframes react {
    0%{
      width: 0%;
    }
    100%{
      width: 30%;
    }
  }

  /* project part ------------------------ */
  #project {display: none;}

  #project_m {
    width: 100%; min-width: 320px;
    margin: 0 auto;
    background-color: #fafafa;
  }
  /* project title */
  .project_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 70px 0 20px 0;
  }
  .project_logo h3 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.469rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    text-shadow: 10px 5px 8px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  .project_inner {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
  }
  /* scroll animaition */
  .project_inner > .scrolling {
    width: 100%;
    transition: ease-in-out 0.8s;
    display: flex;
    flex-wrap: wrap;
  }

  /* project_01 */
  .project_01 {
    width: 93.75%;
    height: auto;
    margin: auto;
    display: flex;
  }
  .left_img01 {
    width: 40%;
  }
  .image_inner01 {
    width: auto;
    height: auto;
    margin: 26px auto;
    border-radius: 5%;
  }
  .image_inner01 p {
    width: 70px;
    height: 70px;
    margin: auto;
    /* margin-top: 32%; */
    background-repeat: no-repeat;
    background-image: url(../../img/ohou_minilogo.svg);
    background-size: 100% 100%;
  }
  .right_txt01 {
    width: 60%;
    height: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .txt_inner01 p {
    width: 100%;
    font-size: 0.625rem;
    font-weight: 500;
    color: #000;
  }

  /* project_02 */
  .project_02 {
    width: 93.75%;
    height: auto;
    margin: auto;
    display: flex;
  }
  .left_txt02 {
    width: 60%;
    height: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .txt_inner02 p {
    width: 100%;
    font-size: 0.625rem;
    font-weight: 500;
    color: #000;
  }
  .right_img02 {
    width: 40%;
  }
  .image_inner02 {
    width: auto;
    height: auto;
    margin: 26px auto;
    border-radius: 5%;
  }
  .image_inner02 p {
    width: 80px;
    height: 80px;
    margin: auto;
    /* margin-top: 32%; */
    background-repeat: no-repeat;
    background-image: url(../../img/ediyamark.png);
    background-size: 100% 100%;
  }

  /* project_03 */
  .project_03 {
    width: 93.75%;
    height: auto;
    margin: auto;
    display: flex;
  }
  .left_img03 {
    width: 40%;
  }
  .image_inner03 {
    width: auto;
    height: auto;
    margin: 26px auto;
    border-radius: 5%;
  }
  .image_inner03 p {
    width: 80px;
    height: 80px;
    margin: auto;
    /* margin-top: 32%; */
    background-repeat: no-repeat;
    background-image: url(../../img/new_logo.svg);
    background-size: 100% 100%;
  }
  .right_txt03 {
    width: 60%;
    height: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .txt_inner03 p {
    width: 100%;
    font-size: 0.625rem;
    font-weight: 500;
    color: #000;
  }

  /* project_04 */
  .project_04 {
    width: 93.75%;
    height: auto;
    margin: auto;
    display: flex;
  }
  .left_txt04 {
    width: 53%;
    height: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .txt_inner04 p {
    width: 100%;
    font-size: 0.625rem;
    font-weight: 500;
    color: #000;
  }
  .right_img04 {
    width: 47%;
  }
  .image_inner04 {
    width: auto;
    height: auto;
    margin: 26px auto;
    border-radius: 5%;
  }
  .image_inner04 p {
    width: 128px;
    height: 70px;
    margin: auto;
    /* margin-top: 32%; */
    background-repeat: no-repeat;
    background-image: url(../../img/oflogo.png);
    background-size: 100% 100%;
  }

    /* project_05 */
    .project_05 {
      width: 93.75%;
      height: auto;
      margin: auto;
      display: flex;
    }
    .left_img05 {
      width: 40%;
    }
    .image_inner05 {
      width: auto;
      height: auto;
      margin: 26px auto;
      border-radius: 5%;
    }
    .image_inner05 p {
      width: 80px;
      height: 80px;
      margin: auto;
      /* margin-top: 32%; */
      background-repeat: no-repeat;
      background-image: url(../../img/interactive_logo.svg);
      background-size: 100% 100%;
    }
    .right_txt05 {
      width: 60%;
      height: 100%;
      margin: 20px auto;
      text-align: center;
    }
    .txt_inner05 p {
      width: 100%;
      font-size: 0.625rem;
      font-weight: 500;
      color: #000;
    }

  /* project 자세히 보기 */
  .project_contact {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    text-align: center;
  }
  .btn {
    width: 50%;
    height: 40px;
    margin-right: 5px;
    font-size: 0.531rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 7px;
    background-color: #566270;
    cursor: pointer;
  }
  .web_btn {
    width: 50%;
    height: 40px;
    font-size: 0.531rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 7px;
    background-color: #566270;
    cursor: pointer;
  }

  /* #project {display: none;} */

  /* modal ====================================== */
  .modal {
    position: fixed;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    margin: auto;
    display: none;
    overflow: hidden;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .modal > div {
    height: 100%;
    margin: auto;
    left: 5%;
    top: 0;
    position: fixed;
    color: #fff;
  }
  .modal_content > iframe {
    width: 100%;
    height: 100%;
    /* min-height: 700px; */
    background: #fff;
    transform: translate(0);
  }
  /* Modal Content/Box */
  .modal_content {
    width: 90%; /* Could be more or less, depending on screen size */
    margin: auto; /* 15% from the top and centered */
    top: 0px;
    position: relative;
  }
  .modal_img {
    width: 100%;
  } 
  /* The Close Button */
  .close {
    width: 28px;
    height: 28px;
    float: left;
    top: 10px;
    right: 8px;
    position: absolute;
    z-index: 2;
  }
  .close img {
    width: 100%;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* clone coding part --------------------------- */
  #clone {
    width: 100%; min-width: 320px;
    height: auto;
    margin: 0 auto;
    background-color: #fafafa;
  }
  /* clone coding title */
  .clone_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 70px 0 20px 0;
  }
  .clone_logo h3 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.469rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    text-shadow: 10px 5px 8px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  .clone_inner {
    width: 93.75%; min-width: 300px;
    height: 390px;
    margin: 30px auto 0;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  /* clone coding top */
  .clone_top {
    width: 100%;
    height: 50%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  /* coupang */
  .clone_coupang {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_couoang.png) no-repeat;
    background-size: 100% auto;
    transition: all 0.2s linear;
  }
  .clone_coupang:hover {
    transform: scale(0.9);
  }
  .clone_coupang a {
    width: auto;
    height: 100px;
    display: block;
    text-decoration: none;
  }
  /* naver */
  .clone_naver {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_naver.png) no-repeat;
    background-size: 100% auto;
    transition: all 0.2s linear;
  }
  .clone_naver:hover {
    transform: scale(0.9);
  }
  .clone_naver a {
    width: auto;
    height: 100px;
    display: block;
    text-decoration: none;
  }
  /* clone coding bottom */
  .clone_bottom {
    width: 100%;
    height: 50%;
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  /* google */
  .clone_google {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_google.png) no-repeat;
    background-size: 100% auto;
    transition: all 0.2s linear;
  }
  .clone_google:hover {
    transform: scale(0.9);
  }
  .clone_google a {
    width: auto;
    height: 100px;
    display: block;
    text-decoration: none;
  }
  /* sfotify */
  .clone_sfotify {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_spotify.png) no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
  }
  .clone_sfotify:hover {
    transform: scale(0.9);
  }
  .clone_sfotify a {
    width: auto;
    height: 100px;
    display: block;
    text-decoration: none;
  }

  /* clone coding screen */
  .clone_screen:hover .screen_inner {
    bottom: 38%;
  }
  .clone_screen {
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .screen_inner {
    width: 100%;
    position: absolute;
    bottom: 150%;
    transition: all.35s;
    font-size: 0.563rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
  }
  .clone_screen:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all.35s;
    z-index: 1;
    background-color: #566270;
  }
  .clone_inner ul li a:hover .screen::after {
    opacity: 1;
  }

  /* contact part -------------------------------- */
  #contact {
    width: 100%; min-width: 320px;
    height: auto;
    background-color: #fff;
  }
  /* contact title */
  .contact_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 70px 0 20px 0;
  }
  .contact_logo h3 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.469rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    text-shadow: 10px 5px 8px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  .contact_inner {
    width: auto;
    margin: auto;
    text-align: center;
  }
  .contact_text ul {
    margin-bottom: 40px;
    line-height: 30px;
  }
  .contact_text ul li {
    font-size: 0.625rem;
    font-weight: 500;
  }
  /* contact address */
  .contect_info {
    width: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .contect_info address {
    width: 100%;
    text-align: center;
  }
  .contect_info span {
    font-size: 0.719rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #566270;
  }
  .contect_info a {
    font-size: 0.625rem;
    font-weight: 500;
  }
  /* copy right */
  .copyBox {
    width: 100%;
    height: 60px;
    margin: auto;
    margin-top: 20px;
    line-height: 60px;
  }
  .copy_inner {
    width: auto;
    height: auto;
  }
  .copy_inner p {
    font-size: 0.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #666;
  }
}
