/* 768px =========================== */
@media all and (min-width:768px) and (max-width:1279px) {
  #wrap {width: 100%; min-height: 600px;}

  /* #headBox ========================== */
  #headBox {
    width: 100%; min-width: 768px;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
  .headinner {
    width: 100%; min-width: 748px;
    height: 100%;
    display: flex;
    margin: auto; 
    box-sizing: border-box;
  }
  /* logo part */
  .headinner h1 {
    width: 100%; min-width: 700px;
    height: 100%;
    margin: auto;
  }
  .headinner h1 img {
    width: 100px;
    height: 100%;
  }
  .unb {display: none;}
  
  /* moblie slide part --------------------- */
  .header_m {
    width: auto; 
    height: 26px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
  }
  #unbInner {
    width: 13.75%; min-width: 44px;
    padding: 0;
  }
  /* slide menu button */
  #check_box {display: none;}
  #check_box + label {
    width: 15%; min-width: 48px;
    height: 25px;
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 100;
    margin: auto;
  }
  #check_box + label > span {
    width: 100%;
    height: 3px;
    position: absolute;
    display: block;
    background: black;
    border-radius: 5px;
    transition: all 300ms;
  }
  #check_box:checked + label > span:nth-child(1) {
    top: 50%;
    background-color: #fff;
    transform: translate(0, -50%);
    transform: rotate(45deg);
  }
  #check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }
  #check_box:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  #check_box + label > span:nth-child(3) {
    bottom: 0;
  }
  #check_box:checked + label > span:nth-child(3) {
    top: 50%;
    background-color: #fff;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
  }
  #check_box:checked + label + #slide_menu {
    left: 12.5%;
  }
  
  /* #slide_menu ------------------------------ */
  #slide_menu {
    width: 100%; min-width: 281px;
    height: 100%;
    position: fixed;
    background-color: rgba(75, 117, 103, 90%);
    text-transform: uppercase;
    left: 100%;
    transition: all 300ms;
    z-index: 1;
    top: 0px;
    padding: 80px 16px 20px 16px;
    box-sizing: border-box;
    overflow: auto;
  }
  input[id*="slide_btn"] {display: none;}
  input[id*="slide_btn"] + label {
    width: auto;
    display: block;
    padding: 50px;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    position: relative;
  }
  
  /* portfolio cover --------------- */
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cover {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .year {
    width: 65px;
    height: 200px;
    margin-bottom: 0px;
  }
  .year img {
    width: 100%;
    height: auto;
    margin: 35px;
  }
  .title_logo {
    width: 140px;
    height: 200px;
    line-height: 210px;
    margin: auto;
  }
  .title_logo img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .job {
    width: 170px;
    height: 150px;
    line-height: 320px;
  }
  .job img {
    width: 100%;
    height: auto;
    margin: 35px;
  }
  
  /* about part ---------------------------- */
  .about {
    width: 91.1458%; min-width: 700px;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
  }
  .about_inner {
    width: 88.5417%; min-width: 680px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .proflie_part {
    width: 100%;
    margin: auto;
  }
  /* about title */
  .about_logo {
    width: 20%; min-width: 140px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }
  .about_logo img {
    width: 100%;
    height: auto;
  }
  /* profile */
  .about_text {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .about_text span {
    width: auto; 
    height: auto;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
  }
  .about_text p {
    width: auto; 
    height: auto;
    font-size: 18px;
  }
  .sub_title {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
    text-transform: uppercase;
  }
  .about_text ul {
    width: 100%;
    height: auto;
  }
  .about_text ul li {
    font-size: 16px;
  }
  /* main introduce */
  .introduction_part {
    width: 100%;
    padding-top: 50px;
  }
  .introduction_part span {
    font-size: 16px;
  }
  
  /* skills part --------------------- */
  .skills {
    text-transform: uppercase;
    list-style: none;
  }
  /* skills title */
  .skills_logo {
    width: 20%; min-width: 140px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }
  .skills_logo img {
    width: 100%;
    margin: auto;
  }
  .skills_inner h3 {
    font-size: 17px;
    font-weight: 400;
    margin: 5px;
  }
  /* skills inner */
  .skills_inner {
    width: 65.1042%; min-width: 500px;
    margin: auto;
    margin-top: 50px;
    color: #000;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .skills_inner ul {
    width: auto;
    height: auto;
  } 
  .skills_inner li {
    margin: 20px 0;
  }
  .bar {
    height: 17px;
    background: #353b48;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  .bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .bar span {
    height: 17px;
    float: left;
    background: linear-gradient(135deg, rgba(75, 117, 103, 1)0%, rgb(172, 213, 199)100%);
  }
  .html {
    width: 90%;
    animation: html 10s;
  }
  .css {
    width: 90%;
    animation: css 10s;
  }
  .javascript {
    width: 60%;
    animation: javascript 10s;
  }
  .figma {
    width: 90%;
    animation: figma 10s;
  }
  .git {
    width: 70%;
    animation: git 10s;
  }
  @keyframes html {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes css {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes javascript {
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  }
  @keyframes figma {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes git {
    0%{
      width: 0%;
    }
    100%{
      width: 70%;
    }
  }

  /* project part ------------------------ */
  .project {
    width: 100%;
    min-width: 768px; max-width: 1279px;
    margin: 0 auto;
  }
  .project_logo {
    width: 20%; min-width: 140px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }
  .project_logo img {
    width: 100%;
    height: auto;
  }
  .project_inner {
    width: 83.3333%; min-width: 640px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
  }
  .project_item {
    width: 100%;
  }
  .project_item li {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .project_item li a {
    width: 48.1771%; min-width: 370px;
    height: auto;
    display: block;
    position: relative;
    text-decoration: none;
    margin: auto;
  }
  .project_list input {display: none;}
  .project_list input [id="slide"] {display: none;}
  .project_item label {
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    padding: 20px;
    cursor: pointer;
  }
  /* slide arrow */
  .slide_left {
    left: 0px;
    top: 45%;
    background-image: url('../../img/arrow_left.png');
    background-position: center center;
    background-size: 80%;
    background-repeat: no-repeat;
  }
  .slide_right {
    right: 0px;
    top: 45%;
    background-image: url('../../img/arrow_right.png');
    background-position: center center;
    background-size: 80%;
    background-repeat: no-repeat;
  }
  .project_list [id="slide01"]:checked ~ .project_inner .project_item li {transform: translateX(0);}
  .project_list [id="slide02"]:checked ~ .project_inner .project_item li {transform: translateX(-100%);}
  .project_list [id="slide03"]:checked ~ .project_inner .project_item li {transform: translateX(-200%);}
  
  .screen:hover .screen_top {
    bottom: 52%;
  }
  .screen:hover .screen_bottom {
    top: 52%;
  }
  .screen {
    width: 39.0625%; min-width: 300px;
    height: auto;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  .screen_top {display: none;}
  .screen_bottom {display: none;}
  .screen img {
    width: 100%;
  }
  .screen:hover::after {display: none;}
  /* project 자세히 보기 */
  .project_contact {
    width: 46.875%; min-width: 360px;
    height: 100%;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
  .project_contact button {
    width: 100%;
    height: 45px;
    float: left;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: rgba(75, 117, 103, 0.3);
  }
  
  /* modal ====================================== */
  .open {
    margin-right: 5px;
  }
  .modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .modal_content {
    width: 98%;
    height: auto;
    float: right;
    max-height: calc(125vh - 210px);
    overflow-y: auto;
    background-color: #fff;
    padding: 10px 5px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    line-height: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .modalHeader h2 {
    float: right;
    width: 100%;
    height: 24px;
    font-size: 15px;
    top: 0;
    margin: 0;
    padding-left: 20px;
    margin: 10px 0;
    margin-bottom: 25px;
  }
  .modalHeader button {
    top: 0;
    float: right;
    margin: -44px 10px;
    padding-left: 10px;
  }
  .modalHeader button img {
    top: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .modal_content i {
    width: 100%;
    height: 100%;
    font-size: 13px;
  }
  .on {display: none;}
  
  /* contact part -------------------------------- */
  .contact {
    width: 100%; min-width: 768px;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: rgba(75, 117, 103, 30%);
  }
  /* contact title */
  .contact_logo {
    width: 20%; min-width: 140px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }
  .contact_logo img {
    width: 100%;
    height: auto;
  }
  .contact_inner {
    width: auto;
    text-align: center;
    margin: auto;
  }
  .contact_text ul {
    margin-bottom: 40px;
    line-height: 30px;
  }
  .contact_text ul li {
    font-size: 16px;
  }
  /* contact address */
  .contect_info {
    width: 73.1707%; min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .contect_info address {
    width: 33.3333%; min-width: 200px;
    text-align: center;
  }
  .contect_info span {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .contect_info a {
    font-size: 16px;
  }
  /* copy right */
  .copyBox {
    width: 100%; min-width: 768px;
    height: 60px;
    line-height: 60px;
  }
  .copy_inner {
    width: auto;
    height: auto;
    position: relative;
  }
  .copy_inner p {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    text-align: center;
    text-transform: uppercase;
  }

  /* #footBox ==================== */
  #footBox {
    width: 100%; min-width: 768px;
    height: auto;
    left: 0;
    bottom: 0%;
    position: fixed;
    z-index: 1000;
  }
  .fnb {
    width: 100%;
    height: 70px;
    line-height: 50px;
    display: flex;
    background-color: rgba(75, 117, 103, 96%);
  }
  /* portfolio part fnb button */
  .fnb_portfolio {
    width: 20%; min-width: 64px;
    text-align: center;
    background: url(../../img/portfolio.png) no-repeat center;
    background-size: 30px 45px;
  }
  .fnb_portfolio a {
    width: 20%; min-width: 64px;
    height: 100%;
    position: absolute;
    left: 0;
  }
  .fnb_portfolio:hover {
    width: 20%; min-width: 64px;
    text-align: center;
    background: url(../../img/portfolio_on.png) no-repeat center;
    background-size: 30px 45px;
  }
  /* about part fnb button */
  .fnb_about {
    width: 20%; min-width: 64px;
    text-align: center;
    background: url(../../img/about.svg) no-repeat center;
    background-size: 40px;
    margin-bottom: 5px;
  }
  .fnb_about a {
    width: 20%; min-width: 64px;
    height: 100%;
    position: absolute;
    left: 20%;
  }
  .fnb_about:hover {
    width: 20%; min-width: 64px;
    text-align: center;
    background: url(../../img/about_on.svg) no-repeat center;
    background-size: 40px;
    margin-bottom: 5px;
  }
  /* skills part fnb button */
  .fnb_skills {
    width: 20%; min-width: 64px;
    text-align: center;
    background: url(../../img/skill.svg) no-repeat center;
    background-size: 40px;
    margin-bottom: 5px;
  }
  .fnb_skills a {
    width: 20%; min-width: 64px;
    height: 100%;
    position: absolute;
    left: 40%;
  }
  .fnb_skills:hover {
    width: 20%; min-width: 64px;
    text-align: center;
    background: url(../../img/skill_on.svg) no-repeat center;
    background-size: 40px;
    margin-bottom: 5px;
  }
  /* project part fnb button */
  .fnb_project {
    width: 20%; min-width: 64px;
    text-align: center;
    background: url(../../img/portfolio.svg) no-repeat center;
    background-size: 40px;
    margin-bottom: 5px;
  }
  .fnb_project a {
    width: 20%; min-width: 64px;
    height: 100%;
    position: absolute;
    left: 60%;
  }
  .fnb_project:hover {
    width: 20%; min-width: 64px;
    text-align: center;
    background: url(../../img/portfolio_on.svg) no-repeat center;
    background-size: 40px;
    margin-bottom: 5px;
  }
  /* contact part fnb button */
  .fnb_contact {
    width: 20%; min-width: 64px;
    text-align: center;
    background: url(../../img/contact.svg) no-repeat center;
    background-size: 40px;
    margin-bottom: 5px;
  }
  .fnb_contact a {
    width: 20%; min-width: 64px;
    height: 100%;
    position: absolute;
    left: 80%;
  }
  .fnb_contact:hover {
    width: 20%; min-width: 64px;
    text-align: center;
    background: url(../../img/contact_on.svg) no-repeat center;
    background-size: 40px;
    margin-bottom: 5px;
  }
}
