/* 768px =========================== */
@media all and (min-width:768px) and (max-width:1279px) {
  #wrap {width: 100%; min-height: 600px;}

  /* #headBox ========================== */
  #headBox {
    width: 100%; min-width: 768px;
    height: 60px;
    padding: 5px 10px;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fff;
  }
  .headinner {
    width: 100%; min-width: 748px;
    height: 100%;
    margin: auto; 
    display: flex;
    box-sizing: border-box;
  }
  /* logo part */
  .headinner h1 {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .headinner h1 a {
    width: 100px;
    height: 50px;
  }
  .headinner h1 button {
    width: 100px;
    height: 50px;
    background-image: url(../../img/new_logo.svg);
    background-size: 100px 50px;
    background-repeat: no-repeat;
    -webkit-animation: rotation 5s infinite linear;
  }
  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
  }
  .unb {display: none;}
  
  #main_contant {
    padding-top: 60px;
  }
  /* moblie slide part --------------------- */
  .header_m {
    width: auto; 
    height: 26px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
  }
  #unbInner {
    width: 13.75%; min-width: 44px;
    padding: 0;
  }
  /* slide menu button */
  #check_box {display: none;}
  #check_box + label {
    width: 15%; min-width: 48px;
    height: 25px;
    margin: auto;
    display: block;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  #check_box + label > span {
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    transition: all 300ms;
    border-radius: 5px;
    background: black;
  }
  #check_box:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
    background-color: #fff;
  }
  #check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }
  #check_box:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  #check_box + label > span:nth-child(3) {
    bottom: 0;
  }
  #check_box:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
    background-color: #fff;
  }
  #check_box:checked + label + #slide_menu {
    left: 12.5%;
  }
  
  /* #slide_menu ------------------------------ */
  #slide_menu {
    width: 100%; min-width: 281px;
    height: 100%;
    padding: 52px 16px 70px 16px;
    position: fixed;
    top: 0px;
    left: 100%;
    overflow: auto;
    transition: all 300ms;
    box-sizing: border-box;
    text-transform: uppercase;
    z-index: 1;
    background-color: rgba(75, 117, 103, 90%);
  }
  input[id*="slide_btn"] {display: none;}
  input[id*="slide_btn"] + label {
    width: auto;
    display: block;
    padding: 50px;
    position: relative;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }
  
  /* portfolio cover --------------- */
  #portfolio {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  #portfolio img {
    width: 100%; height: 100%;
  }
  .cover_text {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: #222;
  }
  .cover_text p {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
  }
  .cover_text span {
    font-size: 35px;
    font-weight: 600;
  }

  .content_wrap {
    padding-top: 160%;
  }
  
  /* about part ---------------------------- */
  #about {
    width: auto;
    height: auto;
    margin: auto;
    background-color: #fafafa;
    z-index: 10;
  }
  .about_inner {
    width: 88.5417%; min-width: 680px;
    height: auto;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .proflie_part {
    width: 100%;
    margin: auto;
  }
  /* about title */
  .about_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 30px 0;
    margin-bottom: 25px;
  }
  .about_logo h3 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    text-shadow: 10px 5px 8px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  /* profile */
  .about_text {
    width: auto;
    height: auto;
    margin: auto;
  }
  .about_text span {
    width: auto; 
    height: auto;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
  }
  .about_text p {
    width: auto; 
    height: auto;
    font-size: 18px;
    font-weight: 500;
  }
  .sub_title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  .about_text ul {
    width: 100%;
    height: auto;
  }
  .about_text ul li {
    font-size: 16px;
    font-weight: 500;
  }
  /* main introduce */
  .introduction_part {display: none;}
  .introduction_m {
    width: 100%;
    padding-top: 30px;
    line-height: 22px;
  }
  .introduction_m p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .introduction_m span {
    font-size: 16px;
    font-weight: 600;
  }
  
  /* skills part --------------------- */
  #skills {
    width: auto;
    height: 580px;
    list-style: none;
    background-color: #fafafa;
  }
  /* skills title */
  .skills_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 30px 0;
  }
  .skills_logo h3 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 10px 5px 8px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  .skills_inner h4 {
    margin: 5px;
    font-size: 17px;
    font-weight: 400;
  }
  /* skills inner */
  .skills_inner {
    width: 65.1042%; min-width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #000;
  }
  .skills_inner ul {
    width: auto;
    height: auto;
  } 
  .skills_inner li {
    margin: 20px 0;
  }
  .bar {
    height: 17px;
    display: block;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #353b48;
  }
  .bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .bar span {
    height: 17px;
    float: left;
    background: linear-gradient(135deg, rgba(86, 98, 112, 100), rgb(171, 173, 176)100%);
  }
  .html {
    width: 90%;
    animation: html 10s;
  }
  .css {
    width: 90%;
    animation: css 10s;
  }
  .javascript {
    width: 60%;
    animation: javascript 10s;
  }
  .git {
    width: 70%;
    animation: git 10s;
  }
  .react {
    width: 30%;
    animation: react 10s;
  }
  @keyframes html {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes css {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes javascript {
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  }
  @keyframes git {
    0%{
      width: 0%;
    }
    100%{
      width: 70%;
    }
  }
  @keyframes react {
    0%{
      width: 0%;
    }
    100%{
      width: 30%;
    }
  }

  /* project part ------------------------ */
  #project {
    width: 100%; min-width: 768px;
    margin: 0 auto;
    background-color: #fafafa;
  }
  .project_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 30px 0;
  }
  .project_logo h3 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 10px 5px 8px #353b48;
    text-transform: uppercase;
    color: #566270;
  }

  /* clone coding part --------------------------- */
  #clone {
    width: 100%; min-width: 768px;
    height: 560px;
    margin: 0 auto;
    background-color: #fafafa;
  }
  /* clone coding title */
  .clone_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 30px 0;
  }
  .clone_logo h3 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 10px 5px 8px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  .clone_inner {
    width: 680px;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  /* clone coding top */
  .clone_top {
    width: 100%;
    height: 200px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  /* coupang */
  .clone_coupang {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_couoang.png) no-repeat;
    background-size: 100%;
  }
  .clone_coupang a {
    width: auto;
    height: 200px;
    display: block;
    text-decoration: none;
  }
  /* naver */
  .clone_naver {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_naver.png) no-repeat;
    background-size: 100%;
  }
  .clone_naver a {
    width: auto;
    height: 200px;
    display: block;
    text-decoration: none;
  }
  /* clone coding bottom */
  .clone_bottom {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  /* google */
  .clone_google {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_google.png) no-repeat;
    background-size: 100%;
  }
  .clone_google a {
    width: auto;
    height: 200px;
    display: block;
    text-decoration: none;
  }
  /* sfotify */
  .clone_sfotify {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_spotify.png) no-repeat;
    background-size: 100%;
  }
  .clone_sfotify a {
    width: auto;
    height: 200px;
    display: block;
    text-decoration: none;
  }

  /* clone coding screen */
  .clone_screen:hover .screen_inner {
    bottom: 40%;
  }
  .clone_screen {
    width: auto;
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  .screen_inner {
    width: 100%;
    position: absolute;
    bottom: 150%;
    transition: all.35s;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    z-index: 2;
  }
  .clone_screen:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all.35s;
    z-index: 1;
    background: rgba(75, 117, 103, 0.8);
  }
  .clone_inner ul li a:hover .screen::after {
    opacity: 1;
  }
  
  /* contact part -------------------------------- */
  #contact {
    width: 100%; min-width: 768px;
    height: auto;
    padding-top: 50px;
    background-color: #fff;
  }
  /* contact title */
  .contact_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 30px 0;
  }
  .contact_logo h3 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 10px 5px 8px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  .contact_inner {
    width: auto;
    margin: auto;
    text-align: center;
  }
  .contact_text ul {
    margin-bottom: 40px;
    line-height: 30px;
  }
  .contact_text ul li {
    font-size: 16px;
    font-weight: 600;
  }
  /* contact address */
  .contect_info {
    width: 73.1707%; min-width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .contect_info address {
    width: 33.3333%; min-width: 200px;
    text-align: center;
  }
  .contect_info span {
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #566270;
  }
  .contect_info a {
    font-size: 16px;
    font-weight: 600;
  }
  /* copy right */
  .copyBox {
    width: 100%; min-width: 768px;
    height: 60px;
    line-height: 60px;
  }
  .copy_inner {
    width: auto;
    height: auto;
    position: relative;
  }
  .copy_inner p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #444;
  }

  /* #footBox ==================== */
  #footBox {
    display: none;
    width: 100%; min-width: 768px;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0%;
    z-index: 1000;
  }
  .fnb {
    width: 100%;
    height: 70px;
    display: flex;
    line-height: 50px;
    background-color: rgba(75, 117, 103, 96%);
  }
  /* portfolio part fnb button */
  .fnb_portfolio {
    width: 16.667%; min-width: 53px;
    text-align: center;
    background: url(../../img/logo_whitefull.svg) no-repeat center;
    background-size: 40px;
  }
  .fnb_portfolio a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 0;
  }
  .fnb_portfolio:hover {
    width: 16.667%; min-width: 53px;
    text-align: center;
    background: url(../../img/logo_blackfull.svg) no-repeat center;
    background-size: 40px;
  }
  /* about part fnb button */
  .fnb_about {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/about.svg) no-repeat center;
    background-size: 40px;
  }
  .fnb_about a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 16.667%;
  }
  .fnb_about:hover {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/about_on.svg) no-repeat center;
    background-size: 40px;
  }
  /* skills part fnb button */
  .fnb_skills {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/skill.svg) no-repeat center;
    background-size: 40px;
  }
  .fnb_skills a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 33.334%;
  }
  .fnb_skills:hover {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/skill_on.svg) no-repeat center;
    background-size: 40px;
  }
  /* project part fnb button */
  .fnb_project {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/portfolio.svg) no-repeat center;
    background-size: 40px;
  }
  .fnb_project a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 50.001%;
  }
  .fnb_project:hover {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/portfolio_on.svg) no-repeat center;
    background-size: 40px;
  }
  /* clone part fnb button */
  .fnb_clone {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/clone.svg) no-repeat center;
    background-size: 45px;
  }
  .fnb_clone a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 66.668%;
  }
  .fnb_clone:hover {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/clone_on.svg) no-repeat center;
    background-size: 45px;
  }
  /* contact part fnb button */
  .fnb_contact {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/contact.svg) no-repeat center;
    background-size: 40px;
  }
  .fnb_contact a {
    width: 16.667%; min-width: 53px;
    height: 100%;
    position: absolute;
    left: 83.335%;
  }
  .fnb_contact:hover {
    width: 16.667%; min-width: 53px;
    margin-bottom: 5px;
    text-align: center;
    background: url(../../img/contact_on.svg) no-repeat center;
    background-size: 40px;
  }
}
