@media all and (min-width: 1920px) {
  #wrap {width: 100%; min-height: 600px;}
  
  /* #headBox ========================== */
  #headBox {
    width: 100%; min-width: 1920px;
    height: 80px;
    padding: 0 25px 0 20px;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fff;
  }
  .headinner {
    width: 100%; min-width: 1896px;
    height: 100%;
    margin: auto; 
    display: flex;
    box-sizing: border-box;
  }
  /* logo part */
  .headinner h1 {
    width: 40%;
    height: 100%;
    margin: auto;
    padding-top: 10px;
  }
  .headinner h1 button {
    width: 65px;
    height: 65px;
    background-image: url(../../img/new_logo.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-animation: rotation 5s infinite linear;
  }
  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
  }
  
  /* user navigation */
  .unb {
    width: 60%;
    height: 100%;
    display: flex;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15rem;
    justify-content: center;
  }
  /* page 이동 */
  /* portfoilo button */
  .portfolio_part {
    width: 20.5479%;
    height: 100%;
    line-height: 80px;
  }
  .portfolio_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 0.706rem;
    font-weight: 400;
    text-decoration: none;
  }
  .portfolio_part a:hover {
    font-size: 0.831rem;
    font-weight: 700;
    color: #566270;
  }
  /* about button */
  .about_part {
    width: 19.1781%;
    height: 100%;
    line-height: 80px;
  }
  .about_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 0.706rem;
    font-weight: 400;
    text-decoration: none;
  }
  .about_part a:hover {
    font-size: 0.831rem;
    font-weight: 700;
    color: #566270;
  }
  /* skills button */
  .skills_part {
    width: 19.1781%;
    height: 100%;
    line-height: 80px;
  }
  .skills_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 0.706rem;
    font-weight: 400;
    text-decoration: none;
  }
  .skills_part a:hover {
    font-size: 0.831rem;
    font-weight: 700;
    color: #566270;
  }
  /* project button */
  .project_part {
    width: 20.5479%;
    height: 100%;
    line-height: 80px;
  }
  .project_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 0.706rem;
    font-weight: 400;
    text-decoration: none;
  }
  .project_part a:hover {
    font-size: 0.831rem;
    font-weight: 700;
    color: #566270;
  }
  /* clone button */
  .clone_part {
    width: 20.5479%;
    height: 100%;
    line-height: 80px;
  }
  .clone_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 0.706rem;
    font-weight: 400;
    text-decoration: none;
  }
  .clone_part a:hover {
    font-size: 0.831rem;
    font-weight: 700;
    color: #566270;
  }
  /* contact button */
  .contact_part {
    width: 20.5479%;
    height: 100%;
    line-height: 80px;
  }
  .contact_part a {
    width: auto;
    height: 100%;
    display: block;
    font-size: 0.706rem;
    font-weight: 400;
    text-decoration: none;
  }
  .contact_part a:hover {
    font-size: 0.831rem;
    font-weight: 700;
    color: #566270;
  }
  .header_m {display: none;}

  /* all scroll animation */
  .scrolling {
    opacity: 0;
    transition: all .8s steps(10);
  }
  
  html #wrap {
    overflow: auto;
    height: 100%;
  }

  /* portfolio cover --------------- */
  #portfolio {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  #portfolio img {
    width: 100%; height: 100%;
  }
  .cover_text {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    color: #222;
  }
  .cover_text p {
    text-align: left;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .cover_text span {
    font-size: 1.938rem;
    font-weight: 700;
  }
  
  .content_wrap {
    padding-top: 100vh;
  }
  
  /* about part ---------------------------- */
  #about {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #fafafa;
  }
  .about_inner {
    width: 88.75%; min-width: 1704px;
    height: auto;
    margin: auto;
    padding: 210px 70px 120px 70px;
    display: flex;
  }
  .proflie_part {
    width: 42%;
    margin: auto;
  }
  /* about title */
  .about_logo {
    margin-bottom: 60px;
  }
  .about_logo h3 {
    width: 100%;
    height: auto;
    font-size: 3.344rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
    text-shadow: 10px 5px 10px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  /* profile */
  .about_text {
    width: auto;
    height: auto;
    margin: auto;
  }
  .about_text span {
    width: auto; 
    height: auto;
    margin: auto;
    font-size: 1.05rem;
    font-weight: 700;
  }
  .about_text p {
    width: auto; 
    height: auto;
    font-size: 0.825rem;
    font-weight: 400;
  }
  .sub_title {
    margin-top: 25px;
    font-size: 0.969rem;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
  }
  .about_text ul {
    width: 100%;
    height: auto;
  }
  .about_text ul li {
    text-transform: uppercase;
    font-size: 0.794rem;
    font-weight: 400;
    line-height: 28px;
  }
  /* main introduce */
  .introduction_part {
    width: 58%;
    margin-top: 20px;
    line-height: 28px;
  }
  .introduction_part p {
    margin-bottom: 20px;
    font-size: 0.875rem;
    font-weight: 600;
  }
  .introduction_part span {
    font-size: 0.794rem;
    font-weight: 400;
    line-height: 35px;
  }
  .introduction_m {display: none;}

  /* skills part --------------------- */
  #skills {
    width: auto;
    height: auto;
    padding-bottom: 80px;
    list-style: none;
    text-transform: uppercase;
    background-color: #fafafa;
  }
  /* skills title */
  .skills_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 140px 0 50px 0;
  }
  .skills_logo h3 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 2.094rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
    text-shadow: 10px 5px 10px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  /* skills inner */
  .skills_inner h4 {
    margin: 10px 5px;
    font-size: 1rem;
    font-weight: 400;
  }
  .skills_inner {
    width: 50%; min-width: 900px;
    margin: auto;
    margin-top: 40px;
    padding: 30px 40px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #000;
  }
  .skills_inner ul {
    width: auto;
    height: auto;
  }
  .skills_inner li {
    margin: 20px;
  }
  .bar {
    height: 30px;
    display: block;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #353b48;
  }
  .bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .bar span {
    height: 30px;
    float: left;
    background: linear-gradient(135deg, rgba(86, 98, 112, 100), rgb(171, 173, 176)100%);
  }
  .html {
    width: 90%;
    animation: html 10s;
  }
  .css {
    width: 90%;
    animation: css 10s;
  }
  .javascript {
    width: 60%;
    animation: javascript 10s;
  }
  .git {
    width: 70%;
    animation: git 10s;
  }
  .react {
    width: 50%;
    animation: react 10s;
  }
  @keyframes html {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes css {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes javascript {
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  }
  @keyframes git {
    0%{
      width: 0%;
    }
    100%{
      width: 70%;
    }
  }
  @keyframes react {
    0%{
      width: 0%;
    }
    100%{
      width: 50%;
    }
  }

  /* project part ------------------------ */
  #project_m {display: none;}

  #project {
    width: 100%; min-width: 1920px;
    height: auto;
    margin: 0 auto;
    background-color: #fafafa;
  }
  .project_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 140px 0 50px 0;
  }
  .project_logo h3 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 2.094rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
    text-shadow: 10px 5px 10px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  .project_inner {
    width: 88.75%; min-width: 1704px;
    padding: 40px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  /* scroll animaition */
  .project_inner > .scrolling {
    width: 100%;
    transition: ease-in-out 0.8s;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* project_01 */
  .project_01 {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
  }
  .left_img01 {
    width: 50%;
  }
  .image_inner01 {
    width: 56.25%; min-width: 360px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
  }
  .image_inner01 p {
    width: 51.666%; min-width: 186px;
    height: 22.15%;
    margin: auto;
    margin-top: 120px;
    background-image: url(../../img/ohoulogo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .right_txt01 {
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
  }
  .txt_inner01 p {
    width: 100%;
    font-size: 0.844rem;
    font-weight: 500;
    color: #000;
  }

  /* project_02 */
  .project_02 {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
  }
  .left_txt02 {
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
  }
  .txt_inner02 p {
    width: 100%;
    font-size: 0.844rem;
    font-weight: 500;
    color: #000
  }
  .right_img02 {
    width: 50%;
  }
  .image_inner02 {
    width: 56.25%; min-width: 360px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
  }
  .image_inner02 p {
    width: 57.264%; min-width: 205px;
    height: 14.094%;
    margin: auto;
    margin-top: 130px;
    background-image: url(../../img/ediyalogo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  /* project_03 */
  .project_03 {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
  }
  .left_img03 {
    width: 50%;
  }
  .image_inner03 {
    width: 56.25%; min-width: 360px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
  }
  .image_inner03 p {
    width: 59.4444%; min-width: 214px;
    height: 25.505%;
    margin: auto;
    margin-top: 120px;
    background-image: url(../../img/logoplus.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .right_txt03 {
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
  }
  .txt_inner03 p {
    width: 100%;
    font-size: 0.844rem;
    font-weight: 500;
    color: #000
  }

  /* project_04 */
  .project_04 {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
  }
  .left_txt04 {
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
  }
  .txt_inner04 p {
    width: 100%;
    font-size: 0.844rem;
    font-weight: 500;
    color: #000
  }
  .right_img04 {
    width: 50%;
  }
  .image_inner04 {
    width: 56.25%; min-width: 360px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
  }
  .image_inner04 p {
    width: 64.4444%; min-width: 232px;
    height: 34.23%;
    margin: auto;
    margin-top: 100px;
    background-image: url(../../img/oflogo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  /* project_05 */
  .project_05 {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
  }
  .left_img05 {
    width: 50%;
  }
  .image_inner05 {
    width: 56.25%; min-width: 360px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
  }
  .image_inner05 p {
    width: 59.4444%; min-width: 214px;
    height: 25.505%;
    margin: auto;
    margin-top: 100px;
    background-image: url(../../img/interactive_logo.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .right_txt05 {
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
  }
  .txt_inner05 p {
    width: 100%;
    font-size: 0.844rem;
    font-weight: 500;
    color: #000
  }

  /* project 자세히 보기 */
  .project_contact {
    width: 46.875%; min-width: 360px;
    height: 100%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    text-align: center;
  }
  .btn {
    width: 50%;
    height: 47px;
    margin-right: 10px;
    font-size: 0.669rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 7px;
    background-color: #566270;
    cursor: pointer;
  }
  .web_btn {
    width: 50%;
    height: 47px;
    font-size: 0.669rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 7px;
    background-color: #566270;
    cursor: pointer;
  }
  /* modal ====================================== */
  .modal {
    position: fixed;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    margin: auto;
    display: none;
    overflow: hidden;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .modal > div {
    height: 100%;
    margin: auto;
    left: 5%;
    top: 0;
    position: fixed;
    color: #fff;
  }
  .modal_content > iframe {
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translate(0);
  }
  /* Modal Content/Box */
  .modal_content {
    width: 90%; /* Could be more or less, depending on screen size */
    margin: auto; /* 15% from the top and centered */
    top: 0px;
    position: relative;
  }
  .modal_img {
    width: 100%;
  } 
  /* The Close Button */
  .close {
    width: 35px;
    height: 35px;
    float: left;
    top: 15px;
    right: 15px;
    position: absolute;
    z-index: 2;
  }
  .close img {
    width: 100%;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* clone coding part --------------------------- */
  #clone {
    width: 100%; min-width: 1920px;
    height: auto;
    margin: 0 auto;
    background-color: #fafafa;
  }
  /* clone coding title */
  .clone_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 140px 0 50px 0;
  }
  .clone_logo h3 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 2.094rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    text-shadow: 10px 5px 10px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  .clone_inner {
    width: 88.75%; min-width: 1704px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 80px;
    display: flex;
  }
  /* clone coding top */
  .clone_top {
    width: 100%;
    height: 400px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  /* coupang */
  .clone_coupang {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_couoang.png) no-repeat;
    background-size: 100%;
    transition: all 0.2s linear;
  }
  .clone_coupang:hover {
    transform: scale(0.9);
  }
  .clone_coupang a {
    width: auto;
    height: 400px;
    display: block;
    text-decoration: none;
  }
  /* naver */
  .clone_naver {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_naver.png) no-repeat;
    background-size: 100%;
    transition: all 0.2s linear;
  }
  .clone_naver:hover {
    transform: scale(0.9);
  }
  .clone_naver a {
    width: auto;
    height: 400px;
    display: block;
    text-decoration: none;
  }
  /* clone coding bottom */
  .clone_bottom {
    width: 100%;
    height: 400px;
    margin-left: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  /* google */
  .clone_google {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_google.png) no-repeat;
    background-size: 100%;
    transition: all 0.2s linear;
  }
  .clone_google:hover {
    transform: scale(0.9);
  }
  .clone_google a {
    width: auto;
    height: 400px;
    display: block;
    text-decoration: none;
  }
  /* sfotify */
  .clone_sfotify {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_spotify.png) no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
  }
  .clone_sfotify:hover {
    transform: scale(0.9);
  }
  .clone_sfotify a {
    width: auto;
    height: 400px;
    display: block;
    text-decoration: none;
  }

  /* clone coding screen */
  .clone_screen:hover .screen_inner {
    bottom: 46%;
  }
  .clone_screen {
    width: auto;
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .screen_inner {
    width: 100%; min-width: 268px;
    position: absolute;
    bottom: 150%;
    transition: all.35s;
    font-size: 1.063rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
  }
  .clone_screen:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all.35s;
    z-index: 1;
    background-color: #566270;
  }
  .clone_inner ul li a:hover .screen::after {
    opacity: 1;
  }

  /* contact part -------------------------------- */
  #contact {
    width: 100%; min-width: 1920px;
    height: auto;
    padding-bottom: 30px;
    background-color: #fff;
  }
  /* contact title */
  .contact_logo {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 140px 0 50px 0;
  }
  .contact_logo h3 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 2.094rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    text-shadow: 10px 5px 10px #353b48;
    text-transform: uppercase;
    color: #566270;
  }
  .contact_inner {
    width: 88.75%; min-width: 1704px;
    margin: auto;
    text-align: center;
  }
  .contact_text ul {
    margin-bottom: 50px;
    line-height: 40px;
  }
  .contact_text ul li {
    font-size: 0.794rem;
    font-weight: 400;
  }
  /* contact address */
  .contect_info {
    width: 43.2292%; min-width: 830px;
    margin: auto;
    display: flex;
  }
  .contect_info address {
    width: 14.4271%; min-width: 277px;
    text-align: center;
  }
  .contect_info span {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .contect_info a {
    font-size: 0.794rem;
    font-weight: 400;
  }
  /* copy right */
  .copyBox {
    width: 100%; min-width: 1920px;
    height: 100px;
    line-height: 100px;
  }
  .copy_inner {
    width: auto;
    height: auto;
  }
  .copy_inner p {
    padding-top: 30px;
    font-size: 0.656rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #666;
  }
}
