@media all and (min-width: 1920px) {
  #wrap {width: 100%; min-height: 600px;}
  
  /* #headBox ========================== */
  #headBox {
    width: 100%; min-width: 1920px;
    height: auto;
    padding: 10px 12px 14px 12px;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fff;
  }
  .headinner {
    width: 100%; min-width: 1896px;
    height: 100%;
    margin: auto; 
    display: flex;
    box-sizing: border-box;
  }
  /* logo part */
  .headinner h1 {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .headinner h1 a {
    width: 100px;
    height: 80px;
  }
  .headinner h1 button {
    width: 100px;
    height: 80px;
    background-image: url(../../img/logo_greenfull.svg);
    background-size: 100px 80px;
    background-repeat: no-repeat;
    -webkit-animation: rotation 5s infinite linear;
  }
  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
  }
  
  /* user navigation */
  .unb {
    width: 45.8333%;; min-width: 880px;
    height: 100%;
    display: flex;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
  }
  /* page 이동 */
  /* portfoilo button */
  .portfolio_part {
    width: 20.5479%; min-width: 150px;
    height: 100%;
    line-height: 56px;
    font-size: 22px;
  }
  .portfolio_part a {
    width: auto;
    height: 100%;
    display: block;
    line-height: 79px;
    text-decoration: none;
  }
  .portfolio_part a:hover {
    font-size: 26px;
    font-weight: 600;
    color: #4b7567;
  }
  /* about button */
  .about_part {
    width: 19.1781%; min-width: 140px;
    height: 100%;
    line-height: 56px;
    font-size: 22px;
  }
  .about_part a {
    width: auto;
    height: 100%;
    display: block;
    line-height: 79px;
    text-decoration: none;
  }
  .about_part a:hover {
    font-size: 26px;
    font-weight: 600;
    color: #4b7567;
  }
  /* skills button */
  .skills_part {
    width: 19.1781%; min-width: 140px;
    height: 100%;
    line-height: 56px;
    font-size: 22px;
  }
  .skills_part a {
    width: auto;
    height: 100%;
    display: block;
    line-height: 79px;
    text-decoration: none;
  }
  .skills_part a:hover {
    font-size: 26px;
    font-weight: 600;
    color: #4b7567;
  }
  /* project button */
  .project_part {
    width: 20.5479%; min-width: 150px;
    height: 100%;
    line-height: 56px;
    font-size: 22px;
  }
  .project_part a {
    width: auto;
    height: 100%;
    display: block;
    line-height: 79px;
    text-decoration: none;
  }
  .project_part a:hover {
    font-size: 26px;
    font-weight: 600;
    color: #4b7567;
  }
  /* clone button */
  .clone_part {
    width: 20.5479%; min-width: 150px;
    height: 100%;
    line-height: 56px;
    font-size: 22px;
  }
  .clone_part a {
    width: auto;
    height: 100%;
    display: block;
    line-height: 79px;
    text-decoration: none;
  }
  .clone_part a:hover {
    font-size: 26px;
    font-weight: 600;
    color: #4b7567;
  }
  /* contact button */
  .contact_part {
    width: 20.5479%; min-width: 150px;
    height: 100%;
    line-height: 56px;
    font-size: 22px;
  }
  .contact_part a {
    width: auto;
    height: 100%;
    display: block;
    line-height: 79px;
    text-decoration: none;
  }
  .contact_part a:hover {
    font-size: 26px;
    font-weight: 600;
    color: #4b7567;
  }
  .header_m {display: none;}
  
  /* portfolio cover --------------- */
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cover {
    height: 100%;
    padding-top: 103px;
    display: flex;
    flex-direction: column;
  }
  .year {
    width: auto;
    height: 400px;
    margin-bottom: 20px;
  }
  .year img {
    width: 70px;
    height: auto;
    margin: 35px;
  }
  .title_logo {
    width: 200px;
    height: 350px;
    margin: auto;
  }
  .title_logo img {
    width: 100%;
    margin: auto;
    vertical-align: middle;
  }
  .job {
    width: auto;
    height: 100px;
  }
  .job img {
    width: 200px;
    height: auto;
    margin: 35px;
  }
  
  /* about part ---------------------------- */
  .about {
    width: 93.75%; min-width: 1800px;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    opacity: 0;
    transition: all 3s;
  }
  .about_inner {
    width: 93.75%; min-width: 1800px;
    height: auto;
    margin: auto;
    display: flex;
  }
  .proflie_part {
    width: auto;
    margin: auto;
  }
  /* about title */
  .about_logo {
    width: 34.5722%; min-width: 400px;
    margin-bottom: 80px;
  }
  .about_logo img {
    width: 100%;
    height: auto;
  }
  /* profile */
  .about_text {
    width: auto;
    height: auto;
    margin: auto;
  }
  .about_text span {
    width: auto; 
    height: auto;
    margin: auto;
    font-size: 27px;
    font-weight: 600;
  }
  .about_text p {
    width: auto; 
    height: auto;
    font-size: 22px;
  }
  .sub_title {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  .about_text ul {
    width: 100%;
    height: auto;
  }
  .about_text ul li {
    font-size: 22px;
  }
  /* main introduce */
  .introduction_part {
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
  }
  .introduction_part span {
    font-size: 22px;
  }

  /* skills part --------------------- */
  .skills {
    opacity: 0;
    transition: all 3s;
    list-style: none;
    text-transform: uppercase;
  }
  /* skills title */
  .skills_logo {
    width: 10.4167%; min-width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }
  .skills_logo img {
    width: 100%;
    margin: auto;
  }
  /* skills inner */
  .skills_inner h3 {
    margin: 5px;
    font-size: 24px;
    font-weight: 400;
  }
  .skills_inner {
    width: 50%; min-width: 900px;
    margin: auto;
    margin-top: 60px;
    padding: 30px 40px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #000;
  }
  .skills_inner ul {
    width: auto;
    height: auto;
  }
  .skills_inner li {
    margin: 20px;
  }
  .bar {
    height: 30px;
    display: block;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #353b48;
  }
  .bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .bar span {
    height: 30px;
    float: left;
    background: linear-gradient(135deg, rgba(75, 117, 103, 1)0%, rgb(172, 213, 199)100%);
  }
  .html:hover {
    width: 90%;
    animation: html 10s;
  }
  .css {
    width: 90%;
    animation: css 10s;
  }
  .javascript {
    width: 60%;
    animation: javascript 10s;
  }
  .git {
    width: 70%;
    animation: git 10s;
  }
  .react {
    width: 50%;
    animation: react 10s;
  }
  @keyframes html {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes css {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes javascript {
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  }
  @keyframes git {
    0%{
      width: 0%;
    }
    100%{
      width: 70%;
    }
  }
  @keyframes react {
    0%{
      width: 0%;
    }
    100%{
      width: 50%;
    }
  }

  /* project part ------------------------ */
  .project {
    width: 100%; min-width: 1920px;
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    transition: all 3s;
  }
  .project_logo {
    width: 10.4167%; min-width: 200px;
    height: auto;
    margin: auto;
  }
  .project_logo img {
    width: 100%;
    height: auto;
  }
  .project_inner {
    width: 93.75%; min-width: 1800px;
    height: auto;
    margin: auto;
    margin-top: 40px;
  }
  .project_item {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .project_item li {
    width: 23.4375%; min-width: 450px;
    height: 100%;
    margin: 0 73px;
    display: inline-block;
    vertical-align: top;
  }
  .project_item li a {
    width: auto;
    height: 460px;
    margin: 5px;
    display: block;
    text-decoration: none;
  }
  .project_list input {display: none;}
  .project_list input [id="slide"] {display: none;}
  
  /* project hover 시 효과 */
  .screen:hover .screen_top {
    bottom: 62%;
  }
  .screen:hover .screen_middle {
    top: 42%;
  }
  .screen:hover .screen_bottom {
    top: 52%;
  }
  .screen {
    width: auto;
    height: 460px;
    position: relative;
    overflow: hidden;
  }
  .screen img {
    width: 100%;
    height: 460px;
  }
  .screen_top {
    width: 340px;
    position: absolute;
    left: 50%;
    bottom: 150%;
    transition: all.35s;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
  }
  .screen_middle {
    width: 340px;
    position: absolute;
    top: 150%;
    left: 50px;
    transition: all.35s;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    z-index: 2;
  }
  .screen_bottom {
    width: 340px;
    position: absolute;
    top: 150%;
    left: 50px;
    transition: all.35s;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    z-index: 2;
  }
  .screen:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all.35s;
    border-radius: 10px;
    z-index: 1;
    background: rgba(75, 117, 103, 0.8);
  }
  .project_inner ul li a:hover .screen::after {
    opacity: 1;
  }
  /* project 자세히 보기 */
  .project_contact {
    width: 18.75%; min-width: 360px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    text-align: center;
  }
  .btn, .web_btn {
    width: 100%;
    height: 55px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: rgba(75, 117, 103, 0.3);
  }

  /* modal =================================== */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 52%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content/Box */
  .modal_content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  .modal_content h2 {
    width: 100%;
    height: 24px;
    margin: 10px 0;
    margin-bottom: 25px;
    padding-left: 20px;
    top: 0;
    float: right;
    font-size: 15px;
  }
  .modal_content p {
    width: 100%;
    height: 100%;
    font-size: 13px;
  }
  /* The Close Button */
  .close {
    margin: -44px 10px;
    padding-left: 10px;
    top: 0;
    float: right;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* clone coding part --------------------------- */
  .clone {
    width: 100%; min-width: 1920px;
    margin: 0 auto;
    opacity: 0;
    transition: all 3s;
  }
  /* clone coding title */
  .clone_logo {
    width: 10.4167%; min-width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }
  .clone_logo img {
    width: 100%;
    height: auto;
  }
  .clone_inner {
    width: 1800px;
    height: auto;
    margin: auto;
    display: flex;
  }
  /* clone coding top */
  .clone_top {
    width: 100%;
    height: 400px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  /* coupang */
  .clone_coupang {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_couoang.png) no-repeat;
    background-size: 100%;
  }
  .clone_coupang a {
    width: auto;
    height: 400px;
    display: block;
    text-decoration: none;
  }
  /* naver */
  .clone_naver {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_naver.png) no-repeat;
    background-size: 100%;
  }
  .clone_naver a {
    width: auto;
    height: 400px;
    display: block;
    text-decoration: none;
  }
  /* clone coding bottom */
  .clone_bottom {
    width: 100%;
    height: 400px;
    margin-left: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  /* google */
  .clone_google {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_google.png) no-repeat;
    background-size: 100%;
  }
  .clone_google a {
    width: auto;
    height: 400px;
    display: block;
    text-decoration: none;
  }
  /* sfotify */
  .clone_sfotify {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid #000;
    background: url(../../img/clone_spotify.png) no-repeat;
    background-size: 100% 100%;
  }
  .clone_sfotify a {
    width: auto;
    height: 400px;
    display: block;
    text-decoration: none;
  }

  /* clone coding screen */
  .clone_screen:hover .screen_inner {
    bottom: 46%;
  }
  .clone_screen {
    width: auto;
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .screen_inner {
    width: 100%; min-width: 268px;
    position: absolute;
    bottom: 150%;
    transition: all.35s;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    z-index: 2;
  }
  .clone_screen:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all.35s;
    z-index: 1;
    background: rgba(75, 117, 103, 0.8);
  }
  .clone_inner ul li a:hover .screen::after {
    opacity: 1;
  }

  /* contact part -------------------------------- */
  .contact {
    width: 100%; min-width: 1920px;
    height: auto;
    padding-top: 50px;
    opacity: 0;
    transition: all 3s;
    background-color: rgba(75, 117, 103, 0.5);
  }
  /* contact title */
  .contact_logo {
    width: 10.4167%; min-width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
  }
  .contact_logo img {
    width: 100%;
    height: auto;
  }
  .contact_inner {
    width: auto;
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }
  .contact_text ul {
    margin-bottom: 50px;
    line-height: 40px;
  }
  .contact_text ul li {
    font-size: 20px;
  }
  /* contact address */
  .contect_info {
    width: 43.2292%; min-width: 830px;
    margin: auto;
    display: flex;
  }
  .contect_info address {
    width: 14.4271%; min-width: 277px;
    text-align: center;
  }
  .contect_info span {
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .contect_info a {
    font-size: 20px;
  }
  /* copy right */
  .copyBox {
    width: 100%; min-width: 1920px;
    height: 80px;
    line-height: 80px;
  }
  .copy_inner {
    width: auto;
    height: auto;
    position: relative;
  }
  .copy_inner p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #444;
  }
  
  /* #footBox ==================== */
  #footBox {display: none;}
}
